::-webkit-scrollbar{
    width: 5px;
    background-color: rgba(175, 198, 175, 0.5);
    border-radius: 20px;
}
::-webkit-scrollbar-thumb{
    background-color: rgba(0, 128, 0, 0.5);
    border-radius: 20px;
}
li{
    cursor: pointer;
}
a{
    text-decoration: none;
}
.co-white{
    color: rgb(50, 132, 22);
}
.activeHover{
    border-left: 4px solid #cff4fc;
}
.activeHover:hover{
    background-color: rgba(118, 112, 112,0.4);
    border-left: 4px solid green;
}
.drop-list {
    display: none;
}
.dropdown.open .drop-list {
    display: block;
}
.active{
    background-color: rgba(118, 112, 112,0.4);
    border-left: 4px solid green;
}